@{
    Layout = null;
}

<tr>
    <th class="col-md-1">Status
    </th>
    <th class="col-md-5">
        <span class="line"></span>Description
    </th>
    <th class="col-md-1">
        <span class="line"></span>Id
    </th>
    <th class="col-md-1">
        <span class="line"></span>Config
    </th>
    <th class="col-md-1">
        <span class="line"></span>Criticality
    </th>
</tr>